@import "flatpickr/dist/flatpickr.min.css";
@import "izitoast/dist/css/iziToast.min.css";


.timer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 10px;
    text-align: center;
}
.field{
    display: flex;
    flex-direction: column;
}
.value{
    font-weight: bold;
}
.form{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}